.bike-module {
  background-image:url('_MG_6551.jpg');
  padding-top: 80px;
  @include size(100% 900px);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 80px;
  .about {
    color: white;
    max-width: 1100px;
    margin: 0 auto;
    .about-statement {
      margin-bottom: 10px;
      width: 300px;
    }
    a {
      color: white;
    }
  }
}
