// colors

$color-1: #111433; // Haiti
$color-2: #3f8654; // Goblin
$color-3: #ffffff; // White
$color-4: #ffffff; // White
$color-5: #00E4AC; // Keppel


// Colours
$colour-site-background: #13171a;
$colour-text-highlighted: #DD2234;
$colour-link-active: #4C1A0F;
$colour-copy: #222;


$tab-filter-height: 50px;
